footer {
    text-align: center;    
}



a{
    text-decoration: none;    
    padding: 5p;
}

h2, h3 {
    text-align: center;
}

.image {
        background-image: url(/image/image.jpg);
        background-repeat: no-repeat;
        background-position: -40px 0px;
        background-size: cover;
        alt="Daniyar Bikchentaev"
      }
